/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
}

.admin-dashboard {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.admin-dashboard h1 {
    margin-bottom: 15px;
    font-size: 32px;
}

.admin-dashboard nav ul {
    list-style: none;
    padding: 0;
}

.admin-dashboard nav ul li {
    display: inline-block;
    margin: 0 15px;
}

.admin-dashboard nav ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.admin-dashboard nav ul li a:hover {
    background-color: #575757;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea, form select, form button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #45a049;
}

#formsContainer {
    margin-top: 20px;
}

.form-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

#closeFormsBtn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color:  #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#closeFormsBtn:hover {
    background-color: #d32f2f;
}
